<p>
  <b>Occupant:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @event.description %>
</p>

<p>
  <b>From:</b>
  <%=h @event.starts_at %>
</p>

<p>
  <b>Until:</b>
  <%=h @event.ends_at %>
</p>

<p>
  <b>Owner:</b>
  <%=h @event.owner.name %>
</p>

<%= link_to 'Edit', :action => 'edit' %> | 
<%= link_to 'Delete', url_for(:controller => 'admin/events', :action => :destroy, :id => @event.id), :confirm => 'Are you sure?', :id => @event.id, :method => :delete %>