<% form_for @company, :url => { :action => "create" }, :method => 'put', :html => { :multipart => true } do |f| %>
   <%= f.error_messages %>
   
   <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
   </p>
   
   <p>
      <%= f.label :description %><br />
      <%= f.text_area :description, :rows => 4 %>
   </p>
   
   <p>
      <label for="current_logo">Current Logo</label><br />
      <%= image_tag current_company.logo.url %>
   </p>
   
   <p>
      <label for="company_logo">Upload a new logo (replaces previous logo)</label><br />
      <%= f.file_field :logo %>
   </p>
   
   <p>
      <%= f.submit "Save Changes" %>
   </p>
   
<% end %>