<%= tabnav :admin %>

<h1>Add your company information</h1>

<% form_for @company, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
   <%= f.error_messages %>
   
   <p>
      <%= f.file_field :logo %>
   </p>
   
   <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
   </p>
   
   <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
   </p>
   
   <p>
      <%= f.submit "Create" %>
   </p>
   
<% end %>