<%= javascript_include_tag 'builder' %>
<%= stylesheet_link_tag 'lightbox' %>
<%= stylesheet_link_tag 'events' %>

<div id="property_primary">

  <div id="property_desc">
    <h2 class="property_header"><%=h @property.name %></h2>
    <div style="height:200px;overflow:auto;padding-bottom:4px;"><%= simple_format @property.description %></div>
  </div>

  <div id="property_images" class="bordered_section">
    <% if !@property.property_photos.blank? %>
      <ul class="property_image">
        <% for p in @property.property_photos.first_two %>
        <li>
             <%= lightbox_image_tag(p.photo.url(:medium), p.photo.url(:large), "#{@property.name}",
                                                {:class=>"images"}, :title => p.description) %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <br style="clear:both;">
  
</div>
<br style="clear:both"/>

<% for p in @property.property_photos.secondary %>
  <div class="secondary_property_image">
    <%= lightbox_image_tag(p.photo.url(:small), p.photo.url(:large), "album name",
                                       {:class=>"images"}, :title => p.description) %>
    <br />
    <div class="property_image_text">
      <p class="property_image_name"><%= p.name %></p>
      <!-- <p class="property_image_description"><%= p.description %></p> -->
    </div>
  </div>
<% end %>
<br style="clear:both"/>

<% if current_user.allowed_to? :view_events, @property %>
  <div id="property_events" class="bordered_section">
    <h3 class="property_header">Occupancies</h3>

    <div id="calendar_display">
      <%= render :partial => 'events/calendar' %>
    </div>

    <div id="event_list">
      <%= render :partial => "/events/list", :locals => {:events_list => @events_list, :property => @property} %>
    </div>
    
  </div>
  <br style="clear:both;" />
<% end %>

<% if current_user.allowed_to? :view_attachments, @property %>
  <div id="property_attachments" class="bordered_section">
    <h3 class="property_header">Attachments</h3>
  
    <% if !@property.attachments.blank? %>
      <% for a in @property.attachments %>
        <div class="attachment">
          <%= link_to image_tag(icon_for(a.attached.original_filename, :size => "small"), :style => "float:left"), a.attached.url %>
          <%= link_to a.name, a.attached.url %> <span class="attachment_file_name">(<%= a.attached_file_name %>)</span>
          <%= ": #{a.description}" if !a.description.blank? %>
          <br style="clear:both;">
        </div>
      <% end %>
    <% else %>
      <p>There are no attachments for this property.</p>
    <% end %>
  </div>
  <br style="clear:both;" />
<% end -%>

<% if current_user.allowed_to? :view_location, @property %>
  <div id="property_location" class="bordered_section">
    <h3 class="property_header">Location</h3>
    <p><%= link_to @property.location, "http://maps.google.com/maps?geofcode=&q=#{URI.encode(@property.location)}" %></p>
    
    <% if !@map.blank? %>
      <%= @map.to_html %>
      <%= @map.div(:width => 600, :height => 400) %>
    <% end %>
  </div>
<% end %>
