<%= javascript_include_tag 'builder' %>
<%= stylesheet_link_tag 'calendar/red/style.css'%>
<%= stylesheet_link_tag 'lightbox' %>

<div id="property_header">
   <h2><%=h @property.name %></h2>
</div>

<div id="property_description">
   <p><%= h @property.description %></p>
</div>

<div id="property_images">
<% if !@property.attachments.blank? %>
   <ul class="property_image">
  <% for attachment in @property.attachments %>
    <li>
      <% if attachment.attached_content_type.include?("image")%>
         <%= lightbox_image_tag(attachment.attached.url(:small), attachment.attached.url(:large), "album name",
                                                        {:class=>"images"}, :title => attachment.description) %>
         <br />
         <p class="property_image_name"><%= attachment.name %></p>
      <% end %>
   </li>
  <% end %>
  </ul>
<% else %>
  
<% end %>

</div>

<div id="calendar_block">
   <table width=100%><tr>
      <% (0..4).each do |x| %>
         <td valign="top"><span class="calendar_table"><%= calendar_with_events(x)%></span></td>
      <% end %>
   </tr></table>
</div>

<% if !current_user.blank? %>
   <% if @user.allowed_to? :view_event_details, @property %>
      <div id="day_detail"></div>
      <ul><% @events.each do |e| %>
         <li><%= e.name %>: <%= e.starts_at.strftime("%D") %> - <%= e.ends_at.strftime("%D") %></li>
      <% end %></ul>
   <% end %>
<% end %>