<%= javascript_include_tag 'builder' %>
<%= stylesheet_link_tag 'lightbox' %>
<%= stylesheet_link_tag 'events' %>

<div id="property_header">
   <h2><%=h @property.name %></h2>
</div>

<div id="property_desc">
   <p><%= h @property.description %></p>
</div>

<div id="property_images">
  <% if !@property.property_photos.blank? %>
     <ul class="property_image">
    <% for p in @property.property_photos %>
      <li>
           <%= lightbox_image_tag(p.photo.url(:small), p.photo.url(:large), "album name",
                                                          {:class=>"images"}, :title => p.description) %>
           <br />
           <p class="property_image_name"><%= p.name %></p>
     </li>
    <% end %>
    </ul>
  <% end %>
</div>

<div style="clear:both;"></div>
<% if !current_user.blank? %>
   <% if current_user.allowed_to? :view_event_details, @property %>
   
    <div id="events_list">
      <%= render :partial => "/events/list", :locals => {:events_list => @events_list} %>
    </div>

    <div id="calendar_display">
       <%= render :partial => 'events/calendar' %>
    </div>
    <div style="clear:both;"></div>
  <% end %>
<% end %>