<%= javascript_include_tag 'builder' %>
<%= stylesheet_link_tag 'lightbox' %>
<%= stylesheet_link_tag 'events' %>

<div id="property_primary">

  <div id="property_desc">
    <h2 class="property_header">  <%=h @property.name %></h2>
     <p><%= h @property.description %></p>
  </div>

  <div id="property_images" class="bordered_section">
    <% if !@property.property_photos.blank? %>
      <ul class="property_image">
        <% for p in @property.property_photos.first_two %>
        <li>
             <%= lightbox_image_tag(p.photo.url(:medium), p.photo.url(:large), "#{@property.name}",
                                                {:class=>"images"}, :title => p.description) %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <br style="clear:both;">
  
</div>

<% for p in @property.property_photos.secondary %>
  <div class="secondary_property_image">
    <%= lightbox_image_tag(p.photo.url(:small), p.photo.url(:large), "album name",
                                       {:class=>"images"}, :title => p.description) %>
    <br />
    <div class="property_image_text">
      <p class="property_image_name"><%= p.name %></p>
      <!-- <p class="property_image_description"><%= p.description %></p> -->
    </div>
  </div>
<% end %>

<% if current_user.allowed_to? :view_events, @property %>
  <div id="property_events" class="bordered_section">
    <h3 class="property_header">Occupancies</h3>

    <div id="calendar_display">
      <%= render :partial => 'events/calendar' %>
    </div>

    <div id="events_list">
      <%= render :partial => "/events/list", :locals => {:events_list => @events_list, :property => @property} %>
    </div>
  </div>
  <div style="clear:both;"></div>
<% end %>

<% if current_user.allowed_to? :view_attachments, @property %>
  <div id="property_attachments" class="bordered_section">
    <h3 class="property_header">Attachments</h3>
  
    <% if !@property.attachments.blank? %>
      <% for a in @property.attachments %>
        <p>
          <%= a.name %>
        </p>
      <% end %>
    <% else %>
      <p>There are no attachments for this property.</p>
    <% end %>
  </div>
  
<% end -%>
  