<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Property</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Event Type</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%=h event.name %></td>
    <td><%=h event.description %></td>
    <td><%=h event.property_id %></td>
    <td><%=h event.starts_at %></td>
    <td><%=h event.ends_at %></td>
    <td><%=h event.event_type %></td>
    <td><%= link_to 'Show', url_for(:controller => 'events', :action => 'show', :id => event.id) %></td>
    <td><%= link_to 'Edit', url_for(:controller => 'events', :action => 'edit', :id => event.id) %></td>
    <td><%= link_to 'Delete', url_for(:controller => 'events', :action => 'destroy', :id => event.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
