<h1>Editing page</h1>

<% form_for @page, :url => {:controller => 'pages', :action => :update} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', page_path(@page.slug) %>
