<% @content_for_layout = capture do %>
  <!-- any admin specific layout content -->
  <%= tabnav :admin %>
    
  <div class="admin_content">
    <% if !@property.blank? %>
      <h2><%= @property.name %></h2>
      <% if @property.property_photos.featured[0] %>
        <%= image_tag @property.property_photos.featured[0].photo.url(:thumbnail), :style => 'float:right;' %>
      <% end %>
      
    <% end %>
    <%= yield %>

  </div>
  <!-- admin specific layout footer content -->
<% end %>

<%= render 'layouts/application', { 'content_for_layout' => @content_for_layout } %>