<% if !@users.blank? %>
  <% for user in @users %>
    <strong><%= link_to user.name, edit_admin_user_url(user) %></strong>
    <%= user.role_for_context(current_company).name.gsub("_", " ").capitalize unless user.role_for_context(current_company).blank? %><br />
    <ul>
      <% if !user.properties.blank? %>
        <% for property in user.properties %>
          <li>
            <%= property.name %> - <%= user.role_for_context(property).name.gsub("_", " ").capitalize %> -
            <% if current_user.allowed_to?(:manage_users, current_company) %>
              <%= link_to "Edit", admin_property_memberships_url(property) %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        
      <% end %>
      
    </ul>
  <% end %>
<% else %>
  
<% end %>