<p><%= image_tag 'add-16.gif'%>
<%= link_to "Add a new user", new_admin_user_url %></p>

<% if !@users.blank? %>
  <% for user in @users %>
    <strong><%= link_to user.name, edit_admin_user_url(user) %></strong>
    <%= user.role_for_context(current_company).name.gsub("_", " ").capitalize unless user.role_for_context(current_company).blank? %>
    <% unless user.id == current_user.id %>
     - <%= link_to "Delete user", admin_user_url(user), :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
     <br />
    <ul>
      <% for property in current_company.properties %>
        <li>
          <%= link_to property.name, admin_property_url(property) %>
          
          <% if !user.role_for_context(property).blank? %>
             - <%= user.role_for_context(property).name.gsub("_", " ").capitalize %> -
          <% else %>
            No role
          <% end %>
          <%# TODO - edit role inline %>
          <%= link_to "Edit role", admin_property_memberships_url(property) %>
          </li>
      <% end %>
    </ul>
  <% end %>
  
  <p><%= image_tag 'add-16.gif'%>
  <%= link_to "Add a new user", new_admin_user_url %></p>
  
<% end %>
