<h1>Editing <%= @property.name %></h1>

<% form_for(@property) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 4 %>
  </p>

  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
     <%= f.submit "Update" %>
  </p>
<% end %>
