<%= javascript_include_tag 'builder' %>
<%= stylesheet_link_tag 'calendar/red/style.css'%>
<%= stylesheet_link_tag 'lightbox' %>

<h2>
  Edit menu for <%=h @property.name %>
</h2>
<p>Use the links below or the highlighted tabs above to manage this property.</p>
<ul>
  <li><%= link_to 'Edit property information (name, description)', edit_admin_property_url %></li>
  <li><%= link_to 'Edit property photos', admin_property_property_photos_url(@property) %></li>
  <li><%= link_to 'Edit property attachments', admin_property_attachments_url(@property) %></li>
  <li><%= link_to 'Edit property occupancy events', admin_property_events_url(@property) %></li>
</ul>

