<%= javascript_include_tag 'builder' %>
<%= stylesheet_link_tag 'calendar/red/style.css'%>
<%= stylesheet_link_tag 'lightbox' %>

<p>Use the links below or the highlighted tabs above to manage this property.</p>
<ul>
  <li><%= link_to 'Property information (name, description)', edit_admin_property_url %></li>
  <li><%= link_to 'Property owners and managers', admin_property_memberships_url(@property) %></li>
  <li><%= link_to 'Property photos', admin_property_property_photos_url(@property) %></li>
  <li><%= link_to 'Property attachments', admin_property_attachments_url(@property) %></li>
  <li><%= link_to 'Property occupancies', admin_property_events_url(@property) %></li>
</ul>